{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block css %}
    {% endblock css %}

</head>
<body class="container">
    <div class="topnav">
        <ul class="navbar-list">
            <div class="top-title"><li><a href="{% url 'home' %}" class="active"><strong>Grants4all</strong></a></li></div>
            {% if not request.user.is_active %}
            <div class="login"><li><a href="{% url 'mcq_app:login' %}" class="login-button">Log In</a></li></div>
            {% else %}
            <div style="float:right" class="navbar-content-right">
                <li><h6 class="welcome">{{ request.user.username }} |</h6></li>
                <li><h6 class="welcome"><a href="{% url 'mcq_app:quiz' %}" class="text-white">Take Quiz  | </a></h6></li>
                <li><a href="{% url 'mcq_app:logout' %}" class="login-button">Log Out</a></li>
            </div>
            {% endif %}
        </ul>
    </div>

    {% block content %}
    {% endblock content %}

    {% block js %}{% endblock js %}
</body>
</html>