{% extends 'base.html' %}
{% block title %} Grants4all | Home {% endblock title %}
{% block content %}

    <section class="text-align:center" style="text-align: center;">
      <div class="container text-center">
        <div class="display-1">Grants4all</div>
        <p class="display-4 d-none d-sm-block">Have you been dreaming of pursuring you academic?</p>
        <p class="lead">We organize a simple assessment to test if you're eligible to apply</p>

        {% if not request.user.is_active %}

        <p class="lead">Sign up if you haven't already and get access to take the assessment.</p>
        <p><strong> Start Your Journey Here:</strong></p>
        <div class="sign-up-home"><a href="{% url 'mcq_app:register' %}">Sign Up</a></div>
        {% else %}
        <a href="{% url 'mcq_app:quiz' %}" class="btn btn-lg btn-info mt-1">Take assessment</a>
        {% endif %}
      </div>  
    </section>

{% endblock content %}