{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Let's Quiz | {{ title }} {% endblock title %}
{% block content %}
{% if not request.user.is_active %}
    <h1>Please log in</h1>
    <form method="POST" action="">
      {% csrf_token %}
      <div>
        <label>Username* </label> <span class="form-fields">{{ form.username }}</span>
      </div>
      <div>
        <label>Password* </label> <span class="form-fields">{{ form.password }}</span>
      </div>
      <div class="sign-up">
        <input type="submit" class="sign-up-home" value="{{ title }}"> 
      </div>
    </form>
    <br>
    <p>or ...</p>
    <div class="sign-up-home"><a href="{% url 'mcq_app:register' %}">Create account</a></div>
    </div>
  </div>
{% else %}
  <p>You're already signed in.. Go to <a href="{% url 'home' %}">hompage</a></p>
{% endif %}

{% endblock content %}