{% extends 'base.html' %}
{% block title %} Grant4all | Assessment {% endblock title %}
{% block content %}

{% if question is None %}
<div class="container">
  <div class="jumbotron my-4">
    {% if percent is None %}
    <h1> You have come to the end of the assessment </h2>
    {% else %}
    <h1> You have come to the end of the assessment, you have <span class="percent">{{ percent }}</span></h2>
    <p> If you passed you will receive an email on the next steps. Thank you</p>
    {% endif %}
  </div>
</div>

{% else %}
    <h2 class="story_title">Story</h2>
    <div class="story">
        {% for story in storys %}
            {{story.story}}
        {% endfor %}
    </div>
    <h3>Questions</h3>
    <div class="container">
        <div class="jumbotron my-4">
          <div class="countdown"><span id="count"></span></div>
          {{ question.id }}
          <h3 class="text-info">{{ question.html|safe }}</h3>
          <form class="form" action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="question_pk" value="{{ question.pk }}">
              {% for choice in question.choices.all %}
                <div class="form-check mx-4">
                  <input class="form-check-input" type="radio" name="choice_pk" id="choice-{{ forloop.counter }}" value="{{ choice.pk }}">
                  <label class="form-check-label" for="choice-{{ forloop.counter }}">
                    {{ choice.html|safe }}
                  </label>
                </div>
      
              {% endfor %}
              <input class="login" type="submit" value="Submit">  
          </form>
          
        </div>

      </div>
<script type="text/javascript">
  var count = 15;
  var interval = setInterval(function(){
    document.getElementById('count').innerHTML=count;
    count--;
    if (count === 0){
      clearInterval(interval);
      location.reload(true);
    }
  }, 1000);
</script>
{% endif %}
{% endblock %}