{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Let's Quiz | {{ title }} {% endblock title %}
{% block content %}
{% if not request.user.is_active %}
    <h1 class="mb-3 text-center">Create a new account</h1>
    <form class="mb-3" method="POST" action="">
      {% csrf_token %}
      <div>
        <label>Username* </label> <span class="form-fields">{{ form.username }}</span>
      </div>
      <div>
        <label>Firstname* </label> <span class="form-fields">{{ form.first_name }}</span>
      </div>
      <div>
        <label>Lastname* </label> <span class="form-fields">{{ form.last_name }}</span>
      </div>
      <div>
        <label>Email* </label> <span class="form-fields">{{ form.email }}</span>
      </div>
      <div>
        <label>Password* </label> <span class="form-fields">{{ form.password1 }}</span>
      </div>
      <div>
        <label>Password confirmation* </label> <span class="form-fields">{{ form.password2 }}</span>
      </div>
      <div class="sign-up">
        <input type="submit" class="btn btn-info btn-block mb-3" value="{{ title }}"> 
      </div>
    </form>
    <div class="text-center">
      <p>or ...</p>
      <div class="sign-up-home"><a href="{% url 'mcq_app:login' %}">Login</a></div>
    </div>
{% else %}
  <p>You're already signed in.. Go to <a href="{% url 'home' %}">hompage</a></p>
{% endif %}
{% endblock content %}